<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="form-wrapper sign-in-main">
        <form class="reg-form sign-in-form" id="reg-form">
            <h2>Confirm Password</h2>

            <div class="password-div fl-c">
                <label for="password">Password</label>
                <input type="password" id="password">
            </div>

            <button type="submit" id="submit-btn">Submit</button>
        </form>
    </div>

    <script>
        window.addEventListener('load', function () {
            const form = document.getElementById('reg-form');
            const username = localStorage.getItem('User');

            document.onreadystatechange = function () {
                if (document.readyState !== "complete") {
                    document.querySelector("body").style.visibility = "hidden";
                } else {
                    document.querySelector("body").style.visibility = "visible";
                }
            };


            if(username==null){
                location.href = "/";
            }


            form.addEventListener('submit', sendform);

            

            console.log(makeid(5));

            async function sendform() {
                const password = document.getElementById('password').value;
                const submit_btn = document.getElementById('submit-btn');
                const loading = document.getElementById('loading');

                event.preventDefault();


                var obj;



                if (!username) {
                    alert("Enter Username");
                    return;
                }
                else if (!password) {
                    alert("Enter Password");
                    return;
                }
                else if (password.length < 5) {
                    alert("Password too small");
                    return;
                }



                submit_btn.innerText = "Loading";
                submit_btn.style.backgroundColor = "rgb(187, 255, 0)";
                form.style.pointerEvents = "none";

                const result = await fetch('/api/deleteaccount', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        username,
                        password
                    })
                }).then(res => res.json()).then(data => { obj = data; });

                if (obj.status === 'OK') {
                    submit_btn.innerText = "Verified";
                    submit_btn.style.backgroundColor = "rgb(0, 255, 34)";
                    localStorage.removeItem("token");
                    localStorage.removeItem("User");
                    localStorage.removeItem("Password");
                    setTimeout(function () { location.href = "/"}, 3000);
                }
                else {
                    submit_btn.style.backgroundColor = "rgb(255, 0, 0)";
                    submit_btn.innerText = "Retry";
                    alert(obj.error);
                }

                form.style.pointerEvents = "all";

            }
        })
    </script>
</body>

</html>