<div class="nav">
    <div class="nav-wrapper">
        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="/login"> Log Out </a> </li>
            <li> <a href="/register"> Account delete </a> </li>
            <li> <a href="/account"> Account  </a> </li>
            <li> <span id="coins"></span></li>
        </ul>
    </div>
</div>
